@import '../Common/mixins.module.scss';

.logInContainer {
  background-image: url('../Assets/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mooshroomGirlGifStyle {
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.sakuraTreeGifStyle {
  width: 33vw;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.mooshroomGirlMessageStyle {
  position: absolute;
  left: 14vw;
  bottom: 15vw;
  width: 20vw;
  max-width: 20vw;
  font-size: 1vw;
  * {
    padding: 1vw;
  }
}
