.foodStyleImage1 {
  background-image: url('./../Assets/1.png');
}
.foodStyleImage2 {
  background-image: url('./../Assets/2.png');
}
.foodStyleImage3 {
  background-image: url('./../Assets/3.png');
}
.foodStyleImage4 {
  background-image: url('./../Assets/4.png');
}
.foodStyleImage5 {
  background-image: url('./../Assets/5.png');
}
.foodStyleImage6 {
  background-image: url('./../Assets/6.png');
}
.foodStyleImage7 {
  background-image: url('./../Assets/7.png');
}
.foodStyleImage8 {
  background-image: url('./../Assets/8.png');
}
.foodStyleImage9 {
  background-image: url('./../Assets/9.png');
}
.foodStyleImage10 {
  background-image: url('./../Assets/10.png');
}
.foodStyleImage11 {
  background-image: url('./../Assets/11.png');
}
.foodStyleImage12 {
  background-image: url('./../Assets/12.png');
}
.foodStyleImage13 {
  background-image: url('./../Assets/13.png');
}
.foodStyleImage14 {
  background-image: url('./../Assets/14.png');
}
.foodStyleImage15 {
  background-image: url('./../Assets/15.png');
}
.foodStyleImage16 {
  background-image: url('./../Assets/16.png');
}
.foodStyleImage17 {
  background-image: url('./../Assets/17.png');
}
.foodStyleImage18 {
  background-image: url('./../Assets/18.png');
}
.foodStyleImage19 {
  background-image: url('./../Assets/19.png');
}
.foodStyleImage20 {
  background-image: url('./../Assets/20.png');
}
.foodStyleImage21 {
  background-image: url('./../Assets/21.png');
}
.foodStyleImage22 {
  background-image: url('./../Assets/22.png');
}
.foodStyleImage23 {
  background-image: url('./../Assets/23.png');
}
.foodStyleImag24 {
  background-image: url('./../Assets/24.png');
}
.foodStyleImage25 {
  background-image: url('./../Assets/25.png');
}
.foodStyleImage26 {
  background-image: url('./../Assets/26.png');
}
.foodStyleImage27 {
  background-image: url('./../Assets/27.png');
}
.foodStyleImage28 {
  background-image: url('./../Assets/28.png');
}
.foodStyleImage29 {
  background-image: url('./../Assets/29.png');
}
.foodStyleImage30 {
  background-image: url('./../Assets/30.png');
}
.foodStyleImage31 {
  background-image: url('./../Assets/31.png');
}
.foodStyleImage32 {
  background-image: url('./../Assets/32.png');
}
.foodStyleImage33 {
  background-image: url('./../Assets/33.png');
}
.foodStyleImage34 {
  background-image: url('./../Assets/34.png');
}
.foodStyleImage35 {
  background-image: url('./../Assets/35.png');
}
.foodStyleImage36 {
  background-image: url('./../Assets/36.png');
}
.foodStyleImage37 {
  background-image: url('./../Assets/37.png');
}
.foodStyleImage38 {
  background-image: url('./../Assets/38.png');
}
.foodStyleImage39 {
  background-image: url('./../Assets/39.png');
}
.foodStyleImage40 {
  background-image: url('./../Assets/40.png');
}
.foodStyleImage41 {
  background-image: url('./../Assets/41.png');
}
.foodStyleImage42 {
  background-image: url('./../Assets/42.png');
}
.foodStyleImage43 {
  background-image: url('./../Assets/43.png');
}
.foodStyleImage44 {
  background-image: url('./../Assets/44.png');
}
.foodStyleImage45 {
  background-image: url('./../Assets/45.png');
}
.foodStyleImage46 {
  background-image: url('./../Assets/46.png');
}
.foodStyleImage47 {
  background-image: url('./../Assets/47.png');
}
.foodStyleImage48 {
  background-image: url('./../Assets/48.png');
}
.foodStyleImage49 {
  background-image: url('./../Assets/49.png');
}
.foodStyleImage50 {
  background-image: url('./../Assets/50.png');
}
