@import 'node_modules/pixel-borders/src/styles/pixel-borders.scss';

.boardStyle {
  border: 5px solid rgb(134, 154, 189);
  background-color: #29153f93;
  border-radius: 12px;
  @include pixel-borders(
    $corner-size: 2,
    $border-size: 7px,
    $border-color: rgb(134, 154, 189),
    $border-inset-color: true
  );
}

.rowStyle {
  height: 3vw;
}

.cellStyle {
  width: 3vw;
  height: 3vw;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
}

.snakeBodyStyle {
  background-image: url('./../Assets/snakeBody.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.snakeTailStyle {
  background-image: url('./../Assets/snakeBody.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
.snakeHeadStyle {
  background-image: url('./../Assets/snakeHead.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.snakeHeadStyleDOWN {
  transform: rotate(90deg);
}
.snakeHeadStyleLEFT {
  transform: rotate(180deg);
}
.snakeHeadStyleUP {
  transform: rotate(270deg);
}
.snakeHeadStyleRIGHT {
  transform: rotate(0deg);
}

.foodStyle {
  background-image: url('../Assets/1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
