@import '../../../Common/mixins.module.scss';
@import 'node_modules/pixel-borders/src/styles/pixel-borders.scss';

.sliderContainer {
  // @include borderPixelated(#aa0000);
  @include pixel-borders(
    $corner-size: 1,
    $border-size: 0.5vw,
    $border-color: #aa0000
  );
  // border-style: solid;
  // border-color: #aa0000;
  line-height: 0 !important;
}

.slider {
  overflow: hidden;
  width: 10vw;
  -webkit-appearance: none;
  background-color: #00000000;

  &::-webkit-slider-thumb {
    margin: 0 !important;
    padding: 0;
    width: 1vw;
    -webkit-appearance: none;
    height: 1.5vw;
    background: #aa0000;
    box-shadow: -20vw 0 0 20vw #aa0000;
  }
}
