body {
  max-height: 50vw;
  min-height: 50vw;
  height: 50vw;
  background-color: aqua;
  position: relative;
}
html {
  /* max-width: 100vw;
  min-width: 100vw; */
  height: 100vh;
  background-color: black;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
